{% extends './home.html'%}
{% load static %}


    {% block head %}
    <title>Charge_page</title>
    <link rel="stylesheet" href="{% static './CSS/paycomplete.css' %}" />
    {% endblock head %}


    {% block content %}
          <!-- 첫 번째 흰색 바탕부분 -->
          <div class="shoppingcart_process">
            <div class="shoppingcart">
              <div class="pay_coin">
                <img src="{5 static './img/coin.png' %}" alt="" />
              </div>
              <p class="cart_font">결제</p>
              <p></p>
            </div>

            <div class="pay_process">
              <div class="process_menu"><h2>01. 장바구니</h2></div>
              <img
                src="{% static './img/right.png' %}"
                alt=""
                class="process_step"
              />
              <div class="process_menu"><h2>02. 결제</h2></div>
              <img
                src="{% static './img/right.png' %}"
                alt=""
                class="process_step"
              />
              <div class="process_menu"><p>02. 결제완료</p></div>
            </div>
          </div>

          <!-- 2번째 흰색 바탕부분 -->
          <div class="shoppingcart_account_detail">
            <div class="detail_ifm">
              <div class="shoppingcart">
                <div class="crt">
                  <img src="{% static './img/shoppingcart.png' %}" alt="" />
                </div>
                <p class="cart_font">내 계좌내역</p>
              </div>

              <div class="detail_account">
                <div class="account_bar">｜</div>
                <p class="my_account">충전금</p>
                <p class="account_money">0원</p>
                <div class="account_bar">｜</div>
                <p class="my_account">수익금</p>
                <p class="account_money">0원</p>
                <div class="account_bar">｜</div>
                <p class="my_account">쿠폰</p>
                <p class="account_money">0장</p>
              </div>
            </div>
          </div>

          <!-- 3번째 흰색 바탕부분. 충전금액 선택 -->
          <div class="complete_box">
            <div class="complete_msg">
              <h1>결제가 완료되었습니다.</h1>
              <div class="homebtn" onclick="location.href='Home.html'">
                <a href={% url "home"%} class="home_btn">홈으로 돌아가기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock content %}
    </section>

    <!--     <footer>
        
    </footer> -->
  </body>
</html>
