html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

a:visited {
    color: #000;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2C2F40;
    position: relative;
}

header {
    width: 100%;
    height: 19.6rem;
}

.top-left {
    width: 91rem;
    height: 15rem;
    position: absolute;
    left: 10%;
    top: 12.6rem;
    display: flex;
}

.title {
    /* position: absolute; */
    width: 30rem;
    height: 7rem;
    left: 10%;
    top: 12.6rem;

    font-size: 4.5rem;
    line-height: 6.3rem;
    color: #FFFFFF;
}

.title a {
    color: #fff;
}

.top-menu-box {
    position: absolute;
    width: 66rem;
    height: 8rem;
    margin: 0;
    padding: 0;
    top: 3.5rem;
    left: 31%;
  }
  .top-menu-box div:first-child {
    background-color: #4d5a73;
    color: #fff;
    z-index: 4;
    /* left: 456px; */
  }
  .top-menu-box div:first-child a {
    color: #fff;
  }
  
  .top-menu-box div:nth-child(2) {
    left: -3rem;
    z-index: 3;
  }
  .top-menu-box div:nth-child(3) {
    left: -6rem;
    z-index: 2;
    width: 17rem;
    padding-left: 1rem;
  }
  .top-menu-box div:last-child {
    left: -11rem;
    background: rgba(217, 217, 217, 0.9);
    z-index: 1;
    padding-left: 1.5rem;
  }

.top-menu {
    width: 15rem;
    height: 7.9rem;
    /* top: 164px; */
    position: relative;
    display: inline-block;

    background: #d9d9d9;
    border-radius: 3rem;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);

    font-size: 2rem;
    color: #000;
    line-height: 2.8rem;
    text-align: center;
}

.univ-name {
    position: absolute;
    width: 22.5rem;
    height: 5.3rem;
    right: 10%;
    top: 15.9rem;

    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
}


section {
    width: 100%;
    height: 100%;
}

.form-base,
.side-menu-box {
    display: flex;
    justify-content: center;
}

.form-base {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 19.9rem;
}

.side-menu-box {
    width: 8rem;
    height: 50rem;

    position: absolute;
    right: 6%;
    top: 2rem;

    flex-direction: column;
}

.side-menu {
    width: 7.9rem;
    height: 15rem;
    writing-mode: vertical-lr;

    background-color: #d9d9d9;
    border-radius: 3rem;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);

    font-size: 1.8rem;
    display: flex;
    /* align-items: center; */
    line-height: 12.5rem;
    justify-content: center;
}

.side-menu:first-child {
    background-color: #BBBABA;
    z-index: 6;
}

.side-menu:nth-child(2) {
    margin-top: -2rem;
    z-index: 5;
}

.side-menu:last-child {
    margin-top: -2rem;
    z-index: 4;
}

.form-container {
    box-sizing: border-box;
    position: absolute;
    width: 84%;
    height: 95rem;
    /* top: 196px; */
    padding: 50px 60px 80px;

    background: #F2F2F2;
    border-width: 2.5px 2.5px 0px 2.5px;
    border-style: solid;
    border-color: #2C2F40;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;

    z-index: 10;
}

/* Search bar */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-containe_search {
    width: 87%;
    height: 8rem;
    align-items: center;
    position: relative;
}

#search {
    width: 100%;
    height: 6rem;
    border: 1px solid #a9a9a9;
    border-radius: 25px;
    /* padding-left: 2rem; */

    font-size: 2rem;
}

#search::placeholder {
    padding-left: 2rem;
}

#search_id {
    position: absolute;
    right: 0px;
    top: 0.5rem;

    width: 5rem;
    height: 5rem;
}

.board-title {
    font-size: 4rem;
    margin-top: 3rem;
}
.board-title > div {
    width: 70%;
    height: 1px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #000;
}


.list-title {
    width: 87%;
    height: 5rem;
    border: 1px #000 solid;
    border-radius: 30px;

    margin-top: 4rem;

    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list-title > div {
    display: flex;
    justify-content: center;
}
.list-title > div:first-child {
    width: 8%;
}
.list-title > div:nth-child(2) {
    width: 8%;
}
.list-title > div:nth-child(3) {
    width: 60%;
}
.list-title > div:nth-child(4) {
    width: 7%;
}
.list-title > div:nth-child(5) {
    width: 15%;
}


/* 게시판 리스트 */
.board-list {
    width: 87%;
    height: 52rem;
}
.board-list > li {
    width: 100%;
    height: 4rem;

    font-size: 2rem;

    border-bottom: 2px #000 solid;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.board-list > li:first-child {
    font-weight: 700;
    padding: 1rem 0;
}

.board-list > li > div {
    display: flex;
    justify-content: center;
}
.board-list > li > div:first-child {
    width: 8%;
}
.board-list > li > div:nth-child(2) {
    width: 8%;
}
.board-list > li > div:nth-child(3) {
    width: 60%;
    height: 50%;
    overflow: hidden;
}
.board-list > li > div:nth-child(4) {
    width: 7%;
    overflow: hidden;
}
.board-list > li > div:nth-child(5) {
    width: 15%;
}

/* 글쓰기 버튼 */
.write-btn-area {
    width: 87%;
    display: flex;
    justify-content: flex-end;
}

.write-btn {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 30px;
    background-color: #d9d9d9;
    border:1px #d9d9d9 solid;

    margin-top: 2rem;

    /* position: relative;
    right: -59rem; */

}


/* 페이징 */
.pagination {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .pagination a {
    color: #a5a5a5;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    /* background-color: tomato; */
    color: #000;
  }
  
  .pagination a:hover:not(.active) {color: #000;}